@import 'reset.less';

// =============== COLORS ================

@colorWhite: #FFFFFF;
@colorLightGray: #F2F2F2;
@colorDarkGray: #ABABAB;
@colorLightBlack: #666666;
@colorShadowLow: #575757;
@colorShadowMid: #AFAFAF;
@colorShadowHigh: #CFCFCF;
@colorThemeA: #FF9933;
@colorThemeADark: #CC7A28;
@colorThemeB: #333366;
@colorThemeBDark: #1E1E3D;


// =============== CONSTANTS ============

@headerHeight: 5rem;


// =============== MIXINS ===============

.shadow_low {
	box-shadow: 0px 0px 2px @colorShadowLow;
}

.shadow_mid {
	box-shadow: 2px 2px 4px @colorShadowMid;
}

.shadow_high {
	box-shadow: 4px 4px 6px @colorShadowHigh;
}

.pseudolink {
	&:hover {cursor: pointer;}
}

.themeABackground {
	background-color: @colorThemeA;
	color: @colorWhite;
}

.themeAText {
	color: @colorThemeA;
}

.themeBBackground {
	background-color: @colorThemeB;
	color: @colorWhite;
}

.themeBText {
	color: @colorThemeB;
}


// =============== GENERAL =============
body {
  background-color: @colorLightGray;
}

button {
	outline: none;
}


// =============== Content =============
#content {
	margin-top: @headerHeight;
	// padding: 1.5rem;
}


// ================ Logo ==============

.logo {
	font-weight: bold;
	text-align: center;

	& > * {
		display: inline-block;
	}
}


// ================ HEADER =============

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: @headerHeight;
	background-color: @colorWhite;
	z-index: 100;
	white-space: nowrap;
	overflow: hidden;

	#headerLeft, #headerRight {
		display: inline-block;
		height: 100%;
		vertical-align: middle;

		& > * {
			display: inline-block;
			vertical-align: middle;
			line-height: @headerHeight;
		}
	}

	#headerLeft {
		float: left;
		margin-left: 2rem;

		.logo {
			font-size: 2.5rem;
			.pseudolink;
		}
	}

	#headerRight {
		float: right;
		margin-right: 2rem;

		#headerSearch {
			padding: 0 1rem;
			margin-right: 3rem;

			input {
				width: 40rem;
				padding: .5rem 1rem;
				border-color: @colorThemeB;
				border-radius: .5rem;
				border-width: .2rem;
				font-size: 1.25rem;
			}
		}

		#headerLogin {
			a {
				padding: .5rem .5rem;
				font-size: 1.5rem;
				border-radius: .5rem;
				outline: none;

				.pseudolink;
				.themeABackground;
				.shadow_high;

				&:hover {
					color: @colorThemeB;
				}

		    &:active {
		      box-shadow: none;
					background-color: @colorThemeADark;
		    }
			}
		}
	}
}


// ============= Login =================

#login {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .3);

	#loginContent {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 25rem;
		height: 26rem;
		background-color: @colorWhite;
		border-radius: 1rem;
		padding: 1rem;
		box-shadow: 4px 4px 6px 2px #808080;

		& > * {
			display: block;
		}

		hr {
			border-color: @colorThemeB;
			margin: 2.5rem 0;
			// width: 23rem;
		}

		#loginTitle {
			margin: 2rem auto;
			text-align: center;
			font-size: 2.5rem;
		}

		#loginEmail, #loginPassword {
			margin: 1rem 0;
			box-sizing: border-box;
			width: 100%;
			padding: .5rem 1rem;
			border-color: @colorThemeB;
			border-radius: .5rem;
			border-width: .2rem;
			font-size: 1.25rem;
		}

		#loginSubmit, #loginSignup {
			margin: 1rem 0;

			& > * {
				display: inline-block;
			}

			button {
				outline: none;
				.pseudolink;
				.shadow_high;
			}
		}

		#loginSignup {
			text-align: center;
		}

		#loginSubmitButton {
			padding: .5rem .5rem;
			font-size: 1.25rem;
			border-radius: .5rem;
			.themeABackground;

			&:active {
				box-shadow: none;
				background-color: @colorThemeADark;
			}
		}

		#loginSignupButton {
			padding: .5rem .5rem;
			font-size: 1rem;
			border-radius: .5rem;
			.themeBBackground;

			&:active {
				box-shadow: none;
				background-color: @colorThemeBDark;
			}
		}

		#loginSubmitText {
			margin-left: 1rem;
			.themeAText;
			.pseudolink;
		}

		#loginSignupText {
			margin-right: 1rem;
		}
	}
}


// ============= Signup ================

#signup {

	#signupBackgroundImage {
		min-width: 90rem;
	}

	& > * {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		margin-top: @headerHeight;
	}

	#signupContent {
		z-index: 100;

		& > * {
			display: block;
		}

		#signupTitle {
			margin: 2rem 0 3rem;
			text-align: center;
			font-size: 2.5rem;
		}

		#signupEmail, #signupUsername,
		#signupPassword, #signupRetypePassword {
			width: 20rem;
			margin: 1rem auto;
			padding: .5rem 1rem;
			border-color: @colorThemeB;
			border-radius: .5rem;
			border-width: .2rem;
			font-size: 1.25rem;
		}

		#signupSubmitButton {
			margin: 1.5rem auto;
			padding: .5rem .5rem;
			font-size: 1.75rem;
			border-radius: .5rem;
			.themeABackground;
			box-shadow: 7px 7px 9px #333333;

			&:active {
				box-shadow: none;
				background-color: @colorThemeADark;
			}
		}
	}
}


// ============= Home ==================

#home {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	margin-top: 3rem;
}


// ============= Not Found ==============

#notFound {
	text-align: center;
	margin-top: 4rem;

	.logo {
		font-size: 2rem;
		margin-bottom: 3rem;
	}

	#notFoundContainer {
		display: inline-block;
		// margin: 4rem, auto;
		padding: 2rem;
		background-color: @colorWhite;
		border-radius: 1rem;

		#notFoundTitle {
				margin: auto;
				font-size: 2.5rem;
				font-weight: bold;
				.themeBText
		}
		#notFoundText {
			font-size: 1.25rem;

			& > * {
				display: inline-block;
			}

			a {
				font-weight: bold;
				text-decoration: underline;
				margin-left: .5rem;
				.themeAText;
				.pseudolink;
			}
		}
	}
}
