@import 'reset.less';

// =============== COLORS ================

@colorWhite: #FFFFFF;
@colorLightGray: #F2F2F2;
@colorDarkGray: #ABABAB;
@colorLightBlack: #666666;
@colorShadowLow: #575757;
@colorShadowMid: #AFAFAF;
@colorShadowHigh: #CFCFCF;
@colorThemeA: #FF9933;
// @colorThemeADark: #CC7A28;
@colorThemeB: #333366;
@colorThemeBLight: #C1C1D1;
// @colorThemeBDark: #1E1E3D;


// =============== MEDIA BREAKS ========

@mediabreak1: 55rem;
@mediabreak2: 40rem;

.break1(@rules) {
	@media (max-width: @mediabreak1) {
		@rules();
	}
}

.break2(@rules) {
	@media (max-width: @mediabreak2) {
		@rules();
	}
}


// =============== CONSTANTS ============

@pageWidth: 64rem;

@headerHeight: 4rem;

@headerLogoWidth: 11.5rem;
@headerLogoWidthSmall: 8.6rem;

@headerLinksWidth: 21rem;
@headerLinksWidthSmall: 3rem;

@headerSearchWidthSmall: 3rem;

@headerMinWidth: @headerLogoWidthSmall + @headerLinksWidthSmall + @headerSearchWidthSmall;

@projectsActionWidth: 15rem;

// =============== MIXINS ===============

.shadow_low {
	box-shadow: 0px 0px 2px @colorShadowLow;
}

.shadow_mid {
	box-shadow: 2px 2px 4px @colorShadowMid;
}

.shadow_high {
	box-shadow: 4px 4px 6px @colorShadowHigh;
}

.pseudolink {
	&:hover {cursor: pointer;}
}

.themeABackground {
	background-color: @colorThemeA;
	color: @colorWhite;
}

.themeAText {
	color: @colorThemeA;
}

.themeBBackground {
	background-color: @colorThemeB;
	color: @colorWhite;
}

.themeBText {
	color: @colorThemeB;
}


// =============== GENERAL =============

* {
	box-sizing: border-box;
}

body {
  background-color: @colorLightGray;
}

button {
	outline: none;
}


// =============== Content =============

#content {
	margin: auto;
	margin-top: @headerHeight;
	padding: 1rem 0;
	overflow: hidden;
	width: 100%;
	max-width: @pageWidth;
	min-height: ~'calc(100vh - @{headerHeight})';
	background-color: @colorWhite;
}


// ================ Logo ==============

.logo {
	font-weight: bold;
	text-align: center;

	& > * {
		display: inline-block;
	}
}


// ================ HEADER =============

#headerContainer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: @headerHeight;
	text-align: center;
	padding: 0 1.5rem;
	.themeBBackground;

	#header {
		display: inline-block;
		height: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		max-width: @pageWidth;
		min-width: @headerMinWidth;


		#headerLogo, #headerLinks, #headerSearch {
			line-height: @headerHeight;
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
		}

		#headerLogo {
			float: left;
			width: @headerLogoWidth;
			text-align: left;
			font-size: 2rem;
			font-weight: bold;

			.break2({
				width: @headerLogoWidthSmall;
				font-size: 1.5rem;
			});

			.pseudolink;
		}

		#headerLinks {
			float: right;
			width: @headerLinksWidth;
			text-align: right;
			font-size: 1.1rem;
			font-weight: bold;
			color: @colorThemeBLight;

			.break2({
				// TODO: Turn breaks like this that also occur in javascript
				// into classes so there's no sync issues with the javascript
				// timing (like we have now)
				width: @headerLinksWidthSmall;
				text-align: center;
			});

			p {
				display: inline-block;
				margin: 0 .5rem;

				&:not(.active) {
					.pseudolink;
				}

				&.active {
					color: @colorWhite;
				}

				&:hover:not(.active) {
					color: @colorWhite;
				}

				&:last-child {
					margin-right: 0;
				}

				&:first-child {
					margin-left: 0;
				}
			}

			#headerLinksIcon {
				.pseudolink;

				img {
					vertical-align: middle;
					height: 1.5rem;
					width: 1.5rem;
				}
			}
		}

		#headerSearch {
			margin-left: @headerLogoWidth;
			margin-right: @headerLinksWidth;
			font-size: 1.1rem;

			.break1({
				margin: 0;
				float: right;
				width: @headerSearchWidthSmall;
			});

			input {
				width: 80%;
				padding: .5rem 1rem;
				font-size: 1.1rem;
				border-radius: .3rem;
				border-width: 0;

				background-image: url('../img/search_icon_gray.svg');
				background-size: 1.5rem 1.5rem;
				background-position: right .5rem center;
				background-repeat: no-repeat;

				padding-right: 2.5rem;
			}

			#headerSearchIcon {
				.pseudolink;

				img {
					vertical-align: middle;
					height: 1.5rem;
					width: 1.5rem;
				}
			}
		}
	}
}


// ============= Footer ==============

#footer {
	#footerTop {
		padding: 1rem;
		text-align: center;
		background-color: fade(@colorThemeB, 10%);
		// background-color: fade(#2f2f2f, 40%);

		#footerTopLinks {
			margin-bottom: 1rem;
			color: @colorDarkGray;

			& > a {
				display: inline-block;
				font-weight: bold;
				margin: 0 1rem;

				&:hover {
					cursor: pointer;
					color: @colorThemeB;
				}
			}
		}

		#footerTopSocial {


		// 	& > a {
		// 		display: inline-block;
		// 		width: 3rem;
		// 		height: 3rem;
		// 		background-size: 3rem 3rem;
		// 	}
		//
		// 	#twitterLink {
		// 		background-image: url('../img/social/twitter_gray.png');
		// 	}
		}
	}

	#footerBottom {
		padding: .5rem;
		text-align: center;
		font-size: .75rem;

		color: @colorLightGray;
		background-color: @colorThemeB;

		// color: @colorWhite;
		// background-color: #2f2f2f;

		& > * {
			display: inline-block;
		}

		& > a:hover {
			cursor: pointer;
			text-decoration: underline;
		}

		.footerBottomSeparator {
			margin: 0 .5rem;
		}
	}
}


// ============= Login =================

#login {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .3);
	line-height: normal;
	color: initial;

	#loginContent {
		position: fixed;
	  top: 50%;
	  left: 50%;
	  // TODO: prefixes on translate
	  transform: translate(-50%, -50%);
		width: 25rem;
		background-color: @colorWhite;
		border-radius: 1rem;
		padding: 1rem;
		box-shadow: 4px 4px 6px 2px #808080;

		& > * {
			display: block;
		}

		#loginEmail, #loginPassword {
			margin-bottom: 1rem;
			box-sizing: border-box;
			width: 100%;
			padding: .5rem 1rem;
			border-radius: .5rem;
			font-size: 1.1rem;
		}

		#loginMessage.show {
			text-align: center;
			padding: .5rem 0;
			color: darken(#FF7F7F, 20%);
			background-color: rgba(255, 127, 127, .3);
		}

		#loginSubmit, #loginSignup {
			& > * {
				display: inline-block;
			}

			button {
				.pseudolink;
			}
		}

		#loginSubmit {
			text-align: left;
			margin-bottom: 1rem;
		}

		#loginSignup {
			text-align: center;
		}

		#loginSubmitButton, #loginSignupButton {
			padding: .4rem .5rem;
			border-radius: .5rem;
		}

		#loginSubmitButton {
			font-size: 1.1rem;
			color: @colorThemeA;
			border: .2rem solid @colorThemeA;

			&:hover {
				.themeABackground;
			}
		}

		#loginSignupButton {
			font-size: 1.1rem;
			color: @colorThemeB;
			border: .2rem solid @colorThemeB;

			&:hover {
				.themeBBackground;
			}
		}

		#loginSubmitText {
			margin-left: 1.5rem;
			.themeAText;
			.pseudolink;

			&:hover {
				text-decoration: underline;
			}
		}

		#loginSignupText {
			margin-right: 1rem;
		}
	}
}


// ============= Signup ================

#signup {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .3);
	line-height: normal;
	color: initial;

	#signupContent {
		position: fixed;
	  top: 50%;
	  left: 50%;
	  // TODO: prefixes on translate
	  transform: translate(-50%, -50%);
		width: 25rem;
		background-color: @colorWhite;
		border-radius: 1rem;
		padding: 1rem;
		box-shadow: 4px 4px 6px 2px #808080;

		& > * {
			display: block;
		}

		#signupType {
			text-align: left;
			margin-left: 1rem;
			width: 100%;

			#signupTypeText {
				display: inline-block;
				font-size: 1rem;
				margin-right: 2rem;
			}

			button {
				width: 8rem;
				text-align: center;
				padding: .5rem .5rem;
				font-size: 1rem;
				border: .2rem solid @colorThemeB;

				&.selected {
					.themeBBackground;
				}

				&:hover:not(.selected) {
					background-color: fade(@colorThemeB, 20%);
				}
			}

			#intern {
				border-top-left-radius: .5rem;
				border-bottom-left-radius: .5rem;
			}

			#org {
				border-top-right-radius: .5rem;
				border-bottom-right-radius: .5rem;
			}
		}

		.signupInput {
			margin: .5rem 0;
			box-sizing: border-box;
			width: 100%;
			padding: .5rem 1rem;
			border-radius: .5rem;
			font-size: 1rem;

			&.invalid {
				background-color: rgba(255, 127, 127, .3);
			}
		}

		#signupMessage.show {
			text-align: center;
			padding: .5rem 0;
			color: darken(#FF7F7F, 20%);
			background-color: rgba(255, 127, 127, .3);
		}

		#signupSubmit, #signupLogin {
			text-align: center;

			& > * {
				display: inline-block;
			}

			button {
				.pseudolink;
			}
		}

		#signupSubmit {
			margin-bottom: 1rem;
		}

		#signupSubmitButton, #signupLoginButton {
			padding: .4rem .5rem;
			border-radius: .5rem;
		}

		#signupSubmitButton {
			font-size: 1.1rem;
			color: @colorThemeB;
			border: .2rem solid @colorThemeB;

			&:hover {
				.themeBBackground;
			}
		}

		#signupLoginButton {
			font-size: 1.1rem;
			color: @colorThemeA;
			border: .2rem solid @colorThemeA;

			&:hover {
				.themeABackground;
			}
		}

		#signupSubmitText {
			margin-left: 1rem;
			.themeAText;
			.pseudolink;
		}

		#signupLoginText {
			margin-right: 1rem;
		}
	}
}


.deadlineWidget {
	& > * {
		display: inline-block;
		vertical-align: middle;
	}

	img {
		margin-right: .5rem;
		height: 2rem;
		width: 2rem;
	}
}

.submissionCountWidget {
	& > * {
		display: inline-block;
		vertical-align: middle;
	}

	img {
		margin-right: .5rem;
		height: 2rem;
		width: 2rem;
	}
}

.prizeWidget {
	p {
		display: inline-block;
		padding: 3.5px;
		font-weight: bold;
		color: @colorThemeB;
		border: 2px solid @colorThemeB;
		border-radius: .35rem;
		vertical-align: middle;
	}
}

// ============= Home ==================

#home {
	text-align: center;
	margin-top: 2rem;

	& > * {
		display: inline-block;
	}

	#itemList {
		width: 60%;
		float: left;
		text-align: center;

		#newsfeed {
			display: inline-block;
			text-align: left;

			.newsfeedItem {
				max-height: 15rem;

				.pseudolink;

				& > * {
					display: inline-block;
					vertical-align: middle;
				}

				.newsfeedItemLeft {
					width: 7rem;
					text-align: center;

					.newsfeedItemLogo {
						width: 3rem;
						height: 3rem;
					}

					.prizeWidget {
						min-width: 3rem;
						font-size: .75rem;
					}
				}

				.newsfeedItemMiddle {
					width: 20rem;
					border-right: 2px solid @colorLightGray;

					.newsfeedItemTitle {
						font-size: 1.5rem;
						font-weight: bold;
						color: fade(@colorThemeB, 50%);

						&.hovered {
							color: @colorThemeB;
						}
					}

					.newsfeedItemOrgName {
						font-size: 1.25rem;
						font-style: italic;
						color: @colorDarkGray;
					}

					.newsfeedItemDesc {
						margin-top: .75rem;
						font-size: 1rem;
						color: @colorDarkGray;
					}
				}

				.newsfeedItemRight {
					width: 5rem;
					padding: 0 .5rem;

					& > * {
						display: inline-block;
						margin-bottom: .2rem;
						font-size: .75rem;
						.tag;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}

				.newsfeedItemFooter {
					display: block;
					text-align: right;
					margin-top: .75rem;
					margin-right: 5.5rem;
					color: @colorDarkGray;
					font-weight: bold;

					& > * {
						display: inline-block;
						margin-right: 1.5rem;

						&:last-child {
							margin-right: 0;
						}
					}

					.deadlineWidget {
						img {
							width: 1rem;
							height: 1rem;

						}
					}

					.submissionCountWidget {
						img {
							width: 1rem;
							height: 1rem;
						}
					}
				}
			}
		}
	}

	#sidebar {
		position: relative;
		width: 40%;
		text-align: left;

		#internSidebar, #orgSidebar {
			position: fixed;
			display: inline-block;

			& > * {
				width: 15rem;
			}

			#iSHeader, #oSHeader {
				background-color: fade(@colorThemeA, 80%);
				color: @colorWhite;
				font-size: 1.25rem;
				font-weight: bold;
				padding: 1rem;
				margin-bottom: 1rem;
				.pseudolink;

				&:hover {
					background-color: @colorThemeA;
				}

				& > * {
					display: inline-block;
				}

				#iSHeaderArrow, #oSHeaderArrow {
					margin-left: .5rem;
					float: right;
				}
			}

			#oSSubHeader {
				font-weight: bold;
				padding: 1rem;
				color: @colorDarkGray;
				border-bottom: 2px solid @colorLightGray;
				.pseudolink;

				&:hover {
					color: @colorThemeA;
				}

				& > * {
					display: inline-block;
					vertical-align: middle;
				}

				#oSSubHeaderPlus {
					margin-left: .5rem;
					float: right;
				}
			}

			#iSBody, #oSBody {

				#iSNoProjects, #oSNoProjects {
					color: @colorDarkGray;
					padding: 1rem;
				}

				.iSItem, .oSItem {
					color: @colorDarkGray;
					border-bottom: 2px solid @colorLightGray;
					padding: 1rem;
					.pseudolink;

					&:last-child {
						border-bottom: 0;
					}

					&:hover {
						color: @colorThemeA;
					}

					& > * {
						display: inline-block;
					}

					.iSItemArrow, .oSItemArrow {
						float: right;
					}
				}
			}
		}
	}
}


// ================= TODO ==================

.tag {
	padding: 3.5px;
	color: @colorThemeA;
	border: 2px solid @colorThemeA;
	border-radius: .35rem;
}

.fillButton(@color) {
	font-weight: bold;
	color: @color;
	padding: .5rem 1rem;
	border: 2px solid @color;
	border-radius: .5rem;

	.pseudolink;

	&:hover {
		background-color: @color;
		color: @colorWhite;
	}
}

// ============= Projects ===============

#projects {
	#projectsHeader {
		@leftWidth: 10rem;
		@rightWidth: 13rem;

		padding: 0 1rem;

		& > * {
			display: inline-block;
			vertical-align: middle;
		}

		#projectsHeaderLeft {
			width: @leftWidth;
			text-align: left;
			vertical-align: middle;

			#projectsOrgLogo {
				@logoSize: @leftWidth - 3rem;
				height: @logoSize;
				width: @logoSize;
			}
		}

		#projectsHeaderMiddle {
			width: ~'calc(100% - @{leftWidth} - @{rightWidth})';
			padding: 0 2rem;

			#projectsTitle {
				font-size: 2rem;
				font-weight: bold;
				margin-bottom: .5rem;
				color: @colorThemeB;
			}

			#projectsOrgName {
				font-size: 1.5rem;
				color: @colorDarkGray;
				.pseudolink;

				&:hover {
					color: @colorThemeB;
				}
			}
		}

		#projectsHeaderRight {
			width: @rightWidth;

			#projectsActionButton {
				button {
					font-size: 1.25rem;
					.fillButton(@colorThemeA);
				}
			}
		}
	}

	#projectsSubHeader {
		background-color: fade(@colorThemeB, 10%);
		margin: 0 1rem;
		padding: .5rem 1rem;
		color: @colorDarkGray;
		font-weight: bold;

		& > * {
			display: inline-block;
			vertical-align: middle;
			margin-right: 2rem;

			&:last-child {
				margin-right: 0;
			}
		}

		.prizeWidget {
			p {
				background-color: @colorWhite;
				color: @colorDarkGray;
				border: 0;
				padding: .5rem;
			}
		}

		@iconSize: 1.5rem;

		.deadlineWidget {
			img {
				height: @iconSize;
				width: @iconSize
			}
		}

		.submissionCountWidget {
			img {
				height: @iconSize;
				width: @iconSize;
			}
		}
	}

	#projectsDescBlock, #projectsSkillsBlock {
		margin-top: 1rem;
		padding: 1rem 2rem;
	}

	#projectsDescTitle, #projectsSkillsTitle {
		font-size: 1.5rem;
		font-weight: bold;
		color: @colorThemeB;
	}

	#projectsDesc, #projectsSkillsList {
		margin: 1rem;
		margin-bottom: 0;
	}

	#projectsSkillsBlock {
		#projectsSkillsList {
			display: inline-block;
			list-style: disc inside none;

			& > * {
				display: list-item;
				padding: .25rem;
				color: @colorDarkGray;

				.pseudolink;

				&:hover {
					color: @colorThemeA;
				}
			}
		}
	}
}


// ============= Project Creation =======

#projectCreation {
	text-align: center;

	table {
		width: 100%;
		margin-bottom: 2rem;
		border-collapse: collapse;
		text-align: left;

		#pCFirstCol {
			width: 20rem;
		}

		#pCSecondCol {
			// background-color: fade(@colorThemeB, 20%);
		}

		tr {
			border-bottom: 2px solid @colorLightGray;

			&:last-child {
				border-bottom: 0;
			}

			td {
				padding: 1rem;

				&:first-child {
					font-size: 1.25rem;
					font-weight: bold;
					color: @colorThemeB;
				}

				textarea {
					width: 30rem;
				}

				textarea, input {
					&.invalid {
						background-color: fade(red, 20%);
					}
				}
			}
		}

		#pCTitleRow {
			textarea {
				height: 5rem;
			}
		}

		#pCDescRow {
			textarea {
				height: 15rem;
			}
		}

		#pCPrizeRow {
			input {
				margin-left: .5rem;
				width: 5rem;
			}
		}
	}

	#pCCreateButton {
		.fillButton(@colorThemeA);
	}
}


// ============= Interns ================

#interns {
	#internsHeader {
		padding: 0 1rem;

		& > * {
			display: inline-block;
			vertical-align: middle;
		}

		#internsHeaderLeft {
			margin-right: 2rem;
			text-align: center;

			#internsAvatar {
				height: 7rem;
				width: 7rem;
			}

			#internsEmail {
				padding: .5rem;
				color: @colorDarkGray;
			}
		}

		#internsHeaderRight {
			#internsName {
				font-size: 2rem;
			}

			#internsUsername {
				font-size: 1.5rem;
				font-style: italic;
				color: @colorDarkGray;
				margin-top: .5rem;
			}
		}
	}
}


// ============= Orgs ===================

#orgs {

	padding: 0 1rem;

	& > * {
		display: inline-block;
		vertical-align: middle;
	}

	#orgsLogo {
		width: 7rem;
		height: 7rem;
		margin-right: 2rem;
	}

	#orgsName {
		font-size: 2rem;
	}
}


// ============= Not Found ==============

#notFound {
	text-align: center;
	margin-top: 4rem;

	.logo {
		font-size: 2rem;
		margin-bottom: 3rem;
	}

	#notFoundContainer {
		display: inline-block;
		// margin: 4rem, auto;
		padding: 2rem;
		background-color: @colorWhite;
		border-radius: 1rem;

		#notFoundTitle {
				margin: auto;
				font-size: 2.5rem;
				font-weight: bold;
				.themeBText
		}
		#notFoundText {
			font-size: 1.25rem;

			& > * {
				display: inline-block;
			}

			a {
				font-weight: bold;
				text-decoration: underline;
				margin-left: .5rem;
				.themeAText;
				.pseudolink;
			}
		}
	}
}
